body {
  background-image: url('../IMG/Financial1.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* Esto hará que la imagen de fondo no se desplace con el contenido */
}
